*/.svn/
*/*/.svn/
三层/客户端/rtl/
*/dcu/
*/dcp/
*.dcu
*.cfg
*.dof
*.exe
*.ddp
*.~*
*.local
*.identcache
*.stat
*.tvsconfig
*.vlb
database/wisdompcb.mdf
database/wisdompcb_log.ldf
AriesERP/Aries.Controllers/obj
AriesERP/Aries.Core/obj
AriesERP/CYQ.Data/obj/
AriesERP/Aries.Logic/obj
*.vs
AriesERP/Web.UI/obj
AriesERP/Web.UI/bin/
AriesERP/packages
AriesERP/output/
AriesERP/CYQ.Data/bin/
