<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AriesConn" connectionString="Server=192.168.8.37;Database=Aries;Uid=sa;Pwd=wisdompcb1077" />
    <add name="demo2Conn" connectionString="Server=192.168.8.37;Database=demo2;Uid=sa;Pwd=wisdompcb1077" />
    <!--<add name="AriesConn_Slave1" connectionString="Server=.;Database=Aries_copy;Uid=sa;Pwd=pass123!@#" />
    <add name="bcysConn" connectionString="Server=192.168.8.37;Database=demo2_test;Uid=sa;Pwd=wisdompcb1077" />
    <add name="dgwzConn" connectionString="Server=172.18.0.8;Database=wisdompcb;Uid=sa;Pwd=wisdompcb1077" />-->

  </connectionStrings>
  <appSettings>
    <!--登录窗口显示的公司帐号,cmplength为显示项数-->
    <add key="cmpLength" value="5" />
    <!--单点跨域登录暂时不用
    <add key="demo2" value="本地测试(37),localhost:8080" />
    <add key="APMS20" value="本地演示,192.168.8.9:89" />
    <add key="wisdompcb" value="东莞五株,172.18.0.8" />
    -->
    <add key="demo2" value="本地测试(37)" /><!--开发用的连接要和库名一致,CYQ.Data是根据表名找库名再找连接名-->
    <add key="172.18.0.8" value="东莞五株" />
    <add key="172.18.9.9" value="东莞FPC" />
    <add key="172.16.0.8" value="深圳五株" />
    <add key="172.17.0.187" value="梅州志浩" />
    <!--==========================================-->
    
    <!--新框架临时变更为子应用程序所需要设置的前缀-->
    <!--<add key="UI" value="/admin" />-->
    <!--CYQ.Data.Log 记录日志到Logs文件夹下-->
    <add key="IsWriteLog" value="true" />
    <!--包含以下路径的都需要登陆-->
    <add key="CheckTokenPath" value="/web/,/index.html" />
    <!--<add key="Aries.Suffix" value=".html"/>-->
    <!--打开调整：Debug时可获取到Sql语句-->
    <add key="OpenDebugInfo" value="true" />
    <!--CYQ.Data.Log 记录日志到数据库中
    <add key="LogConn" value="Conn" />
    <add key="LogTableName" value="Sys_Logs"/>-->
    <!--是否关闭自动缓存-->
    <add key="IsAutoCache" value="false"/> 
    <!--以下表不会被缓存
    <add key="NoCacheTables" value="Demo_TestA,Demo_TestB" /> -->
    <!--以下表的字段更新时，不会清空缓存,Json格式的配置{表A:'字段1，字段2',表2:'字段...'}
    <add key="IngoreCacheColumns" value="{Sys_User:'LoginCount'}" />  -->
    <!--Aop拦截数据库操作请求-->
    <!--<add key="Aop" value="Aries.Logic.Aop,Aries.Logic"/>-->
    <!--默认连接-->
    <add key="DefConn" value="Aries" />
    <!--网站子目录
    <add key="UI" value="Web.UI" />-->
    
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" maxRequestLength="1024000000" executionTimeout="30000000" />
    <compilation debug="true" targetFramework="4.0"></compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces></namespaces>
    </pages>
    <customErrors mode="Off"></customErrors>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpModules>
      <!--Aries IIS应用程序池：经典模式（下运行，开启此配置）
      <add name="Aries.Core" type="Aries.Core.UrlRewrite,Aries.Core" />-->
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.html" />
      </files>
    </defaultDocument>
    <modules>
      <!--Aries IIS应用程序池：集成模式（下运行，开启此配置）-->
      <add name="Aries.Core" type="Aries.Core.UrlRewrite,Aries.Core" />
    </modules>
    <handlers>
      <add name="Aries_html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
  </system.webServer>
</configuration>