StringTable
Begin
0,"失败"
1,"成功"
2,"CON对象为空"
3,"CON没有连接"
4,"CON已经在事务中"
5,"CON不在事务中"
6,"CON开启事务失败"
7,"CON提交事务失败"
8,"CON回滚事务失败"
9,"CON关闭连接失败"
10,"CDS数据集为空"
11,"Try捕获异常"
12,"内存映射错误"
13,"连接字符串为空"
14,"同一程序不能再同一数据库中启动2次"
15,"取得服务器时间失败"
16,"只能输入数字"
17,"请选择报废工厂"
18,"报废工厂无效"
19,"作业单号不能为空"
20,"报废单号不能为空"
21,"作业单号无效"
22,"作业单必须为生产中，待分配，待入仓才可以提交报废"
23,"盘点中，禁止报废"
24,"缺陷代码不能为空"
25,"缺陷代码无效"
26,"请选择发生工序"
27,"申请报废PCS不能为0个"
28,"申请PCS数大于在线PCS数量，请重新输入"
29,"申请PNL数大于在线PNL数量，请重新输入"
30,"申请PCS数小于PNL数量*PCS数每PNL，请重新输入"
31,"没有作业单在线的信息"
32,"没有找到匹配的记录，更新0行，更新失败"
33,"发生工序为空，错误"
34,"更新事务出错"
35,"修改缺陷代码失败"
36,"盘点中禁止操作"
37,"返回空的数据集"
38,"财务已经结算，禁止修改"
39,"生产结束，外发，暂缓禁止反审核"
40,"外发生产中，禁止反审核"
41,"已经存在反审核申请记录，禁止再次申请"
42,"操作失败，没有找到记录"
43,"当前记录权限不归您操作"
44,"审核退回并且禁止再次申请此项"
45,"提交申请失败"
46,"您不属于接受工序部门，禁止操作"
47,"已经反审核锁定，禁止操作"
48,"输入的值无效"
49,"工单已经过数，禁止修改，请反审核后修改"
50,"修改失败"


End